@font-face {
    font-family: 'stencil';
    src: url('stencil.woff2') format('woff2'),
         url('stencil.woff') format('woff'),
         url('stencil.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
